<h1>Location: <%= @location.name %></h1>

<p>You swim across the Sink Sea, but you got caught in a whirpool! To make it across you hop on a sponge and use a fork as an oar! You made it to the other side and were able to hold onto the fork. Congratulations, you found your first item!</p>

<%= link_to "Continue", '/locations/3'